page-contact {

}

.results {
  background-color: white;
}

.empty {
  background-color: dimgrey;
}

.created {
  color: black;
}

.commited {
  color: forestgreen;
}

.canceled {
  color: darkorange;
}

.holded {
  color: darkgrey;
}