<ion-header>
  <ion-navbar>
    <ion-title>Staż</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of positionsList">
      <h2>{{item.position}}</h2>
      <p *ngIf="item.dateTo">Od {{item.dateFrom | date: shortDate}} do {{item.dateTo | date : shortDate}}</p>
      <p *ngIf="!item.dateTo">Od {{item.dateFrom | date: shortDate}}</p>
      <p><b>Podstawa wynagrodzenia: {{item.salary | number}}</b></p>
    </ion-item>
  </ion-list>
  <ion-footer>Zalogowano jako użytkownik: {{id}}</ion-footer>
</ion-content>