page-login {
 
}

div.alert-head {
  padding: 0px 0px !important;
  $backgroundColor-danger: orange;

  h2.alert-title {
    background-color: $backgroundColor-danger;
    color: #ffffff;
    min-height: 30px;
    padding: 20px;
  }

  h3.alert-sub-title {
    padding: 30px;
    font-style: italic;
  }
}