<ion-header>
  <ion-navbar>
    <ion-title>Znajdź pracownika</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label item-start fixed>Imię:</ion-label>
      <ion-input type="text" [(ngModel)]="firstName" item-end></ion-input>
    </ion-item>
    <ion-item>
      <ion-label item-start fixed>Nazwisko:</ion-label>
      <ion-input type="text" [(ngModel)]="lastName" item-end></ion-input>
    </ion-item>
    <ion-item>
      <ion-label item-start fixed>Stanowisko:</ion-label>
      <ion-input type="text" [(ngModel)]="position" item-end></ion-input>
    </ion-item>
    <ion-item>
      <ion-label item-start fixed>Dział:</ion-label>
      <ion-input type="text" [(ngModel)]="department" item-end></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button icon-left block (click)="searchEmployee()">
        <ion-icon name="search"></ion-icon>
        Szukaj
      </button>
    </ion-item>
    <ion-item *ngIf="resultsNumber">Odnaleziono {{resultsNumber}} pracowników</ion-item>
  </ion-list>

  <ion-list *ngFor="let item of resultList">
    <ion-item>
      <h2>{{item.resultFirstName}} {{item.resultLastName}}</h2>
      <p>Stanowisko: {{item.resultPosition}}</p>
      <p>Dział: {{item.Department}}</p>
      <h4>E-mail: {{item.resultEmail}}</h4>
      <h4>Telefon: {{item.resultPhoneNumber}}</h4>
    </ion-item>
  </ion-list>
</ion-content>