<ion-header>
  <ion-navbar>
    <ion-title>Dodaj urlop</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="allowAdd" class="enable">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label>Rodzaj urlopu:</ion-label>
          <ion-select [(ngModel)]="eventId">
            <ion-option *ngFor="let item of eventList" value="{{item.id}}">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>Data od:</ion-label>
          <ion-input type="date" [(ngModel)]="dateFrom"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>Data do:</ion-label>
          <ion-input type="date" [(ngModel)]="dateTo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Liczba dni wolnych:</ion-label>
          <ion-input type="number" [(ngModel)]="workDaysNumber"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <button ion-button icon-left color="primary" block (click)="addData()">
            <ion-icon name="checkmark"></ion-icon>
            Zapisz
          </button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="!allowAdd" class="disable">
  <ion-item>
    <button ion-button icon-left color="light" block (click)="getData()">
      <ion-icon name="refresh-circle"></ion-icon>
      Odśwież stronę
    </button>
  </ion-item>
</ion-content>